*{
 padding: 0px;
 margin: 0px;
}
body{
    height: 100vh;
}
main{
    height: 100%;
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding-top: 2rem;
    position: relative;
    z-index: 99;
}
.section-1 {
    width: 100%;
    height: 100%; 
    background-color: #fceed5;
}
.section-2 {
    width: 100%;
    height: 100%; 
    background-color: red;
    position: relative;
    z-index:11;
}
.section-3{
    width: 100%;
    height: 100%;
    background-color: green;
}
.section-4{
    width: 100%;
    height: 100%;
    background-color: #fdfdfd;
}
.section-5{
    width: 100%;
    height: 100%;
    background-color: #fdfdfd;
}
.section-6{
    width: 100%;
    height: 100%;
    background-color: #fdfdfd;
}
footer{
    width: 100%;
    height: 50%;
    background-color: yellow;
}
.menu-bar {
    padding-top: 1.25rem; 
    padding-left: 1.25rem; 
}
.menu-bar img {
    width: 1.25rem;        
    height: 1.25rem;      
    border-radius: 0.31rem; 
}

.monito-logo {
    padding-top: 0.81rem; 
}

.search-icon {
    padding-top: 1.25rem;  
    padding-right: 0.93rem; 
}

.search-icon img {
    width: 1.25rem;       
    height: 1.25rem;       
}

header ul {
    display: none;
    padding-top: 0.56rem; 
}

header ul li {
    list-style-type: none;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #003459;
    padding: 0.56rem 0.31rem; 
    font-weight: 600;
    cursor: pointer;
}

.search-container-section {
    display: none;
    padding-top: 0.62rem; 
}

.search-container {
    width: 66%; 
    height: 1.87rem;      
    padding-top: 0.31rem; 
    border-radius: 1.25rem; 
    background-color: white;
}

.search-container img {
    width: 0.93rem;     
    height: 0.93rem;      
    padding-top: 0.18rem; 
    padding-left: 1.06rem; 
}

.search-container input {
    border: none;
    font-family: 'Gilroy-Regular', sans-serif;
    padding-left: 0.75rem;  
    padding-bottom: 0.31rem; 
    width: 50%;
    position: relative;
    bottom: 0.12rem;      
}
input[type="search"]:focus {
    outline: none;
    border: none; 
}
.join-community-btn {
    display: none;
    padding-top: 1.25rem;  
    width: 16%;

}

.join-community-btn button {
    background-color: #003459;
    color: white;
    padding: 0.62rem 0.81rem; 
    border-radius: 1.25rem;      
    font-family: 'Gilroy-Bold', sans-serif;
    cursor: pointer;
}

.vnd-section {
    display: none;
    width: 1rem;          
    height: 1rem;         
    padding-top: 1.25rem;  
}

.vnd-star {
    position: relative;
    padding-top: 0.18rem; 
}

.vnd-star span {
    position: absolute;
    width: 0.62rem;       
    height: 0.625rem;      
    border-radius: 3.12rem; 
    background-color: red;
}

.vnd-star span img {
    padding-bottom: 0.31rem;
    padding-left: 0.06rem;   
}

.vnd-text {
    padding-left: 0.93rem;  
    font-family: 'Gilroy-Regular', sans-serif;
}
.vnd-arrow{
    display: flex;
}
.vnd-arrow select{
    border: none;
    background-color: transparent;
}
.hero-section-1{
    position: relative;
    z-index: 10;
}
.hero-container-1{
    padding-top: 2rem;
}
.hero-container-1 h2{
    font-family: 'Gilroy-bold', sans-serif;
    color:#002a48;
    font-size: 35px;
    padding-left: 1rem;
}
.hero-container-1 h3{
    font-family: 'Gilroy-regular', sans-serif;
    color: #002a48;
    font-size: 22px;
    font-weight: 700;
    padding-left: 1rem;
}
.hero-container-1 p{
    font-family: 'Gilroy-regular', sans-serif;
    color: #002a48;
    font-size: 9px;
    padding: 0rem 1rem;
    padding-top: 1rem;
    line-height: 14px;
}
.hero-button{
    display: flex;
    justify-content: start;
    padding-left: 0.5rem;
    padding-top: 1rem;
    gap: 10px;
}
#view-intro-button{
    background-color: #fceed5;
    color: #002a48;
    padding: 7px 26px;
    font-family: 'Gilroy-regular', sans-serif;
    font-size: 13px;
    border-radius: 1.5rem;
}
#explore-now-button{
    background-color: #002a48;
    color: white;
    padding: 7px 26px;
    font-family: 'Gilroy-regular', sans-serif;
    font-size: 13px;
    border-radius: 1.5rem;
}
.hero-button img{
    width: 15px;
    height:15px;
    position: relative;
    top: 3px;
}
.hero-container-2 img{
    width:15px;
}
.hero-image img{
    width: 100%;
    height:100%;
    padding-top: 1rem;
}
.shape-1{
    position: absolute;
    width: 16rem;
    height: 14rem;
    background-color: #f7dba7;
    z-index: 1;
    top: -156px;
    border-radius: 40px;
    transform: rotate(24deg);
}
.shape-2{
    position: absolute;
    width: 16rem;
    height: 14rem;
    background-color: #f7dba7;
    z-index: 1;
    top: 0;
    border-radius: 40px;
    transform: rotate(24deg);
}



/* Media Queries */

@media (min-width:320px){
    header ul{
        display: none;
    }
    .search-container-section{
        display: none;
    }
    .join-community-btn{
        display: none;
    }
    .vnd-section{
        display: none;
    }
}

@media (min-width:426px){
    .menu-bar{
        display: none;
    }
    header ul{
        display: flex;
    }
    .monito-logo{
        padding-left: 0.75rem;
    }
    .search-icon {
        padding-top: 1.12rem;
        padding-right: 1.56rem;
    }
}
@media (min-width: 560px){
    header ul li {
       padding: 0.5rem 0.87rem;
    }
}
@media (min-width: 768px){
    header ul li {
       padding: 0.5rem 1.1rem;
    }
    .monito-logo{
        padding-left: 2.2rem;

    }
    .search-icon{
        display:none;
    }
    .search-container-section{
        display: flex;
        width: 18%;
        padding-right: 2rem;
    }
    .search-container{
        width: 100%;
    }
}
@media (min-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5em;
        height: auto;
        padding-left: 4rem;
    }
    .monito-logo{
        padding-left: 0px;
        padding-right: 1rem;

    }
    .monito-logo img {
        width: 8.5rem; 
        height: auto;
    }

    header ul {
        display: flex;
        gap: 1.5rem; 
    }
    header ul li{
        padding: 0px;
        font-size: 14px;
    }
    .search-container-section {
        width: 20%; 
        min-width: 250px;
        max-width: 400px;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .search-container img{
        padding-bottom: 0.7rem;
    }

    .search-container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 2rem; 
        background-color: white;
        border-radius: 2rem;
    }
    .search-container input{
        width: 75%;
    }
    .join-community-btn{
        display: flex;
        padding-top: 0.6rem;
        width: 15%;
    }
    .join-community-btn button {
        padding: 0rem 2.7rem;
        font-size: 0.8rem;
        border-radius: 3rem;
        width: 10.37rem;
        box-sizing: border-box;
    }
    .vnd-section{
        display: flex;
        padding-right: 1rem;
        padding-top: 0.7rem;
        padding-left: 2rem;
    }
}
@media (min-width: 1100px){
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 8em;
        height: auto;
        padding-left: 8rem;
    }
}
@media (min-width:1440px){
    header{
        display: flex;
        justify-content: center;
        padding-top: 1.2rem;
    }
    .monito-logo img{
        width: 8.1rem;
        height: 2.8rem;
        padding-right: 0px;
    }
    header ul li {
       font-size: 1rem;
       padding: 0rem;
    }
    .monito-logo{
        width: 6.25rem;
        padding-right: 2.5rem;
    }
    header ul{
        padding-top: 0.9rem;
        padding-left: 2.25rem;
        Padding-right: 2.25rem;
    }
    .search-container {
        width: 18.7rem;
        height: 2.5rem; 
    }
    .search-container img {
        width: 1.06rem;
        height: 1.06rem;;
        padding-top: 0.5rem;
    }
    .search-container input{
        width: 12.5rem;
        padding-top: 0.3rem;
        padding-bottom: 0px;
        padding-top: 0.5rem;
    }
    .join-community-btn {
        display: flex;
        width: 12.5rem;
        height: 2.8rem;
        padding-top: 0.5rem;
        padding-bottom: 0px;
    }
    .join-community-btn button{
        width: 12.5rem;
        padding: 0.75rem 0.8rem;
        font-size: 1.06rem;
    }
    .vnd-section{
        display: flex;
        padding-right: 6.25rem;
        padding-left: 1.25rem;
        padding-top: 0.5rem;
    }

}
@media (min-width: 1920px) { 
    header {
        display: flex;
        justify-content: center;
    }

    header ul {
        padding-right: 3.5rem;  
        padding-left: 3.12rem; 
        padding-top: 0rem;
        gap: 4rem;         
    }

    header ul li {
       font-size: 1.06rem;   
    }

    .monito-logo {
        padding-right: 5rem; 
        padding-top: 0rem;
    }

    .monito-logo img {
        width: 10rem;           
        height: 5rem;            
    }

    .search-container {
        width: 18.75rem;        
        padding-top: 0.62rem; 
    }
    .search-container img {
        padding-top: 0rem;
    }
    .search-container input{
        padding-top: 0rem;
    }
    .search-container-section {
        width: 18%;
        padding-top: 0.31rem; 
        padding-right: 0rem; 
    }

    .join-community-btn {
        width: 18.7rem;        
        height: 3.06rem;      
        padding-top: 0.37rem; 
    }

    .join-community-btn button {
        width: 18.75rem;        
        padding: 0.87rem 0rem; 
        font-size: 1.12rem;    
    }

    .vnd-section {
       padding-left: 1.87rem;  
    }
}